// VARIABLES

//font
$font-title: 'Fraunces 9pt Soft';
$font-texte: 'Barlow';

// font-size
$font-size-h2: 32px;
$font-size-h1: 1.3rem;
$font-size-texte: 18px;
// line height
$line-height-h2: 32px;
$line-height-title: 49px;
$line-height-texte: 30px;
// font weight
$font-weight-title: 900;
$font-weight-texte: 600;

// Letter spacing
$letter-spaTitre: 6.25px;
        // color

//color background
$color-background: #F2F2F2;

// color font

$color-tilte-page2: #24303E;
$color-texte-page2: #808397;

$color-texte-cerise: #24554A;

$color-title-orange: #052C3B;
$color-texte-orange: #19536C;

$color-titre-human: #A7AAAD;
$color-texte-human: #5B636D;

$color-texte-footer: #458D7E;